.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color_display{
  border-radius: 25px;
  border: 2px solid #ffb700;
  font-size: 16px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transfome 0.4s ease-in-out;
  margin-bottom: 25px;
}
.color_display p{
  font-size: 22px;
}
.color_display:hover{
  transform: scale(1.1); 
  box-shadow: 0 1px 5px 2px #000;
  border-radius: 0px;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0,0%,80%);
}