.cardContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width: 450px;
   border: 3px solid;
   border-radius: 5px;
}
.cardContainer img{
    width: 100%;
    height: 265px;
    object-fit:cover;
}
.cardContainer h2,p{
    padding: 5px;
}
.cardContainer h2{
    margin-bottom: 0px;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom:10px ;
  margin-left:10px ;
}