.cardContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   width: 450px;
   border: 3px solid;
   border-radius: 5px;
}
.cardContainer img{
    width: 100%;
    height: 265px;
    object-fit:cover;
}
.cardContainer h2,p{
    padding: 5px;
}
.cardContainer h2{
    margin-bottom: 0px;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom:10px ;
  margin-left:10px ;
}

/* flashContainer */
.flashContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.flashContainer p{
    background-color: #f7f7f7;
    padding: 80px;
    border-radius: 5px;
    transition: transform 0.4s ease-in-out;
}
.flashContainer p:hover{
    transform: scale(1.1);
}
.flashContainer .selected{
    background-color: brown;
    color: #fff;
    font-size: 18px;
    font-family: cursive;
}

/*Accordian component*/
body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .title {
  color: #087f5b;
}
.openBtn{
    font-size: 20px;
}


/* TEXT EXPANDER COMPONENT */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
