body{
  background:url(assets/nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.clock_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
}