@font-face{
    font-family: 'sedan';
    src: url(assets/yMJRMIlvYZ3Jn1Y30Aq7dy0.woff2);
} 
body{
  background-color: beige;
}
.heading{
  font-family: 'sedan';
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color:brown;
  text-shadow: 2px 2px 2px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 35% 0px 35%;
  box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.3);
  font-family: cursive;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}
.container:hover{
  transform: scale(1.1);
  border: 1px solid grey;
  box-shadow: none;
}