.container{
  display: flex;
  flex-direction: column;
  max-width: 230px;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  align-items: center;
}
.container img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container h3{
  margin-bottom: 0px;
}
