*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  background: linear-gradient(#2A00B7,#42006c);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.3) ;
  background-color: #fff;
  width: 450px;
  height: 500px;
}
.content h1{
  color: #3c009d;
  font-size: 48px;
  margin: 20px;
  position: relative;
}
.content h1::after{
  content: '';
  position: absolute;
  bottom: -12px;
  left: 30%;
  width: 40%;
  border-bottom: 5px solid #3c009d;
  margin-top: 30px;
}
.content input{
  border: none;
  padding: 20px 80px;
  background-color: rgb(235, 228, 228);
  margin: 20px;
}
.inputBox{
  display: flex;
  align-items: center;
  position: relative;
}
.inputBox img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50px;
}
.signUpBtn, .loginBtn{
  margin-top: 20px;
  border: none;
  padding: 12px 40px;
  margin-left: 10px;
  border-radius: 18px;
  font-size: 15px;
  background-color: #3c009d;
  color: #fff;
}
.loginBtn{
  background-color:rgb(235, 228, 228) ;
  color: #000;
}
.active{
  background-color: #3c009d;
  color: #fff;
}