.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1{
  font-size: 160px;
}
.btns button{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color:rgba(165, 3, 3, 0.993);
  border: none;
  margin-right: 15px;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}
.btns button:hover{
  transform: scale(1.1);
  border-radius: none;
}
body{
  background-color: #000;
  color: #fff;
}
.to-do-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.to-do-list h2{
   font-size: 28px;
}
.input, .inputBtn{
  padding: 10px 20px ;
  border-radius: 8px;
  font-size: 18px;
}
.input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.inputBtn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #fff;
  background-color: green;
}
ul{
  padding-left: 0px;
}
li{
  list-style: none;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
  align-items: center;
}
.delete{
  border: none;
  font-size: 22px;
  color: #fff;
  background-color: red;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  transition: transform 0.4s ease-in-out;
}
.up, .down{
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: chocolate;
  padding: 5px 10px;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}
.delete:hover, .up:hover,.down:hover{
  transform: scale(1.1);
}