.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1{
  font-size: 160px;
}
.btns button{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color:rgba(165, 3, 3, 0.993);
  border: none;
  margin-right: 15px;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}
.btns button:hover{
  transform: scale(1.1);
  border-radius: none;
}